.chat__wrapper {
	background: var(--primary);
	height: 100vh;

}

.chat__container {
	margin: 0 auto;
	padding-top: 1.5rem;
	border-radius: 1.5rem;
	height: calc(80% - 3rem);
	width: 70%;
}

.chat__header {
	margin: 0rem 3rem;
	display: flex;
	padding: 0.75rem 1.5rem;
	border-radius: 1.5rem;
	align-items: center;
	background: var(--white);
	justify-content: space-between;
	width: calc(100% - 6rem);
	box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.438rem 1.813rem 0rem;
}

.chat__name {
	font-size: 1.25rem;
	font-weight: 600;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--text-color-primary);
}

.chat__actions {
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat__theme {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	padding-right: 0.75rem;
	cursor: pointer;
	border-radius: 50%;
	margin-right: 1.875rem;
	align-items: center;
	justify-content: center;
}

.chat__body {
	padding: 0.75rem;
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: calc(100% - 3rem - 1.5rem);
	justify-content: flex-start;
}

.chat__users,
.chat__messages {
	padding: 1.5rem;

	border-radius: 1.5rem;
	height: calc(100%);
}

.chat__users {
	width: 17.5rem;
}

.chat__messages {
	right: 1.5rem;
	position: relative;
	height: calc(100% - 0.625rem);
	width: calc(100% - 17.5rem);
}

@media (max-width: 40rem) {
	.chat__users {
		padding: 1.5rem;
		position: absolute;
		visibility: hidden;
		width: calc(100% - 3rem);
	}

	.chat__users .chat__users--show {
		visibility: visible;
	}

	.chat__body {
		width: 100%;
		position: relative;
	}

	.chat__messages {
		width: 100%;
		position: static;
	}

	.chat__header {
		padding-left: 0.75rem;
		width: calc(100% - 3rem - 2.25rem);
	}
}

.messages__wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.messages__container {
	display: flex;
	overflow-y: auto;
	padding-bottom: 1.5rem;
	flex-direction: column;
	max-height: calc(100% - 3.75rem);
}

/**
Button
*/

.button {
	border: none;
	outline: none;
	min-width: 6.125rem;
	cursor: pointer;
	color: var(--white);
	font-size: 1rem;
	min-height: 3rem;
	padding: 0.75rem 1rem;
	border-radius: 1.5rem;
	background: var(--primary);
	transition: box-shadow 0.3s ease;
	box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.375rem 0.75rem -0.125rem,
		rgba(0, 0, 0, 0.3) 0rem 0.188rem 0.438rem -0.188rem;
}

.button.button--block {
	width: 100%;
}

.button:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.813rem 1.688rem -0.313rem,
		rgba(0, 0, 0, 0.3) 0rem 0.5rem 1rem -0.5rem;
}

.users__wrapper {
	padding: 1.5rem;
	border-radius: 1.5rem;
	background: var(--white);
	height: calc(100% - 0.625rem);
	box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.438rem 1.813rem 0rem;
}

.users__heading {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--text-color-primary);
}

.user__wrapper {
	cursor: pointer;
	margin-top: 10%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.user__name {
	font-size: 1rem;
	padding: 0rem 0.75rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: calc(100% - 4.25rem);
	color: var(--text-color-primary);
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.625rem;
	height: 2.625rem;
	font-size: 1rem;
	font-weight: 500;
	margin-right: 0.313rem;
	margin-left: 0.313rem;
	border-radius: 50%;
	background: var(--white);
	box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.438rem 1.813rem 0rem;
	color: var(--text-color-primary);

}

.message__wrapper {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.message__wrapper--right {
	justify-content: flex-end;
}

.message__container {
	max-width: 50%;
	margin-top: 1.5rem;
	font-size: 0.875rem;
	padding: 0.75rem 1.25rem;
	background: var(--white);
	color: var(--text-color-primary);
	border-radius: 1.5rem 1.5rem 1.5rem 0rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.438rem 1.813rem 0rem;
}

.message__container--right {
	color: var(--white);
	text-align: right;
	background: var(--primary);
	border-radius: 1.5rem 1.5rem 0rem 1.5rem;
}

.message__bot {
	width: 100%;
	font-size: 1rem;
	padding-top: 1.5rem;
	text-align: center;
	color: var(--text-color-secondary);
}

.message__text {
	font-size: 1rem;
	word-break: break-all;
}

.message__timestamp {
	font-size: 0.625rem;
	color: var(--text-color-secondary);
}

.message__timestamp--right {
	text-align: right;
	color: var(--white);
}

.input__wrapper {
	margin-top: 0.313rem;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	min-height: 2.25rem;
	border-radius: 1.5rem;
	background: var(--white);
	padding: 0.625rem 0.875rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.438rem 1.813rem 0rem;
}

.input__send {
	width: 2.125rem;
	height: 2.125rem;
	display: flex;
	cursor: pointer;
	border-style: none;
	border-radius: 50%;
	border-color: var(--white);
	align-items: center;
	justify-content: center;
	padding: 0.625rem 0.688rem 0.625rem 0.563rem;
	transition: background 0.3s ease;
}

.input__send:hover {
	background: var(--primary);
}

.send_icon {
	width: 1.5rem;
	height: 1.5rem;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 1rem;
	background: transparent;
	color: var(--text-color-primary);
}

.input--shrunk {
	width: 100%;
}

.highlight {
	background: var(--primary);
	margin-top: 10%;
	color: var(--white);
}

.highlight .avatar {
	color: #000;
}