html,
body {
  height: 100%;
}

:root {
  --white: #ffffff;
  --green: green;
}

.app-header {
  justify-content: space-between;
  background-color: rgb(48, 46, 46);
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.login-wrapper {
  height: 100%;
}

.logo {
  text-decoration: none;
  color: var(--white);
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 3.75rem 3.125rem 2.5rem 3.125rem;
  width: 100%;
  background: var(--white);
  border-radius: 0.625rem;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 20.625rem;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -1.25rem;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 1.875rem;
  border-radius: 0.625rem;
  position: absolute;
  top: -0.625rem;
  background: rgba(255, 255, 255, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 18.75rem;
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 1.875rem;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 2.5rem 4.375rem 3.125rem;
}

.login-wrapper .mat-stroked-button {
  border: 0.063rem solid currentColor;
  line-height: 3.375rem;
  background: var(--white);
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}

.btn-success {
  color: var(--green)
}